<!-- Desktop Sidebar -->
<aside
  class="hidden md:block fixed top-0 left-0 w-64 bg-white text-black shadow-md p-6 h-full"
>
  <div class="text-2xl font-semibold mb-8 text-center text-yellow-400">
    <span class="font-bold">Mony</span>
  </div>

  <nav class="space-y-6">
    <a routerLink="/dashboard" class="sidebar-link">Dashboard</a>
    <a routerLink="/account" class="sidebar-link">Perfil</a>
  </nav>
</aside>

<!-- Mobile Fullscreen Sidebar -->
<div
  *ngIf="mobileOpen"
  class="fixed inset-0 z-50 bg-white flex flex-col justify-between md:hidden transition-transform duration-300"
  [class.translate-x-0]="mobileOpen()"
  [class.-translate-x-full]="!mobileOpen"
>
  <div class="flex justify-between shadow-md items-center p-4 px-8">
    <div class="flex items-center gap-2 text-xl font-bold text-blue-600">
      <span class="font-semibold">Mony</span>
    </div>
    <button class="text-gray-500 text-2xl" (click)="closeMenu()">✕</button>
  </div>

  <div
    class="flex-1 flex flex-col items-center justify-center gap-6 text-lg text-gray-700"
  >
    <span class="text-sm text-gray-600">Olá, {{ user()?.name }}</span>
    <a routerLink="/dashboard" (click)="closeMenu()" class="hover:underline"
      >Dashboard</a
    >
    <a routerLink="/account" (click)="closeMenu()" class="hover:underline"
      >Perfil</a
    >

    <button (click)="logout()" class="text-red-500 hover:underline">
      Sair
    </button>
  </div>
</div>
